db-data
db-data copy
GenAPI/*
!GenApi/Dockerfile
!GenApi/requirements.txt
!GenApi/GenAPI.py
chatbot/*
!chatbot/Chat_REST/
chatbot/Chat_REST/*
!chatbot/Chat_REST/ChatAPI.py
!chatbot/Chat_REST/scrape.py